:root {
  --background-color: #0b0617;
  --text-color: #FAF0E6;
  --nav-color: #B9B4C7;
  --alert-color: rgb(73, 28, 115);
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
  transition: all 0.3s ease;
}

.navbar {
  background-color: var(--nav-color) !important;
}

.alert {
  background-color: var(--alert-color) !important;
  color: var(--text-color);
}

.linke a {
  color: inherit;
  text-decoration: none;
}

/* Light Mode Theme */
body.light-mode {
  --background-color: #FAF0E6;
  --text-color: #352F44;
  --nav-color: #E2D5DE;
  --alert-color: #CFA8E6;
}

/* Hover Effects */
.hoo svg {
  transition: transform 0.3s ease, filter 0.3s ease;
}

.hoo:hover svg {
  transform: scale(1.2);
  filter: brightness(2) drop-shadow(0 0 10px #932edb);
}

.profile-img {
  transition: transform 0.3s ease, filter 0.3s ease;
}

.profile-img:hover {
  transform: scale(1.1);
  filter: brightness(1.1) drop-shadow(0 0 10px #932edb);
}

.linke a {
  transition: transform 0.3s ease, filter 0.3s ease, color 0.3s ease;
}

.linke:hover {
  transform: scale(1.2);
  filter: brightness(2) drop-shadow(0 0 10px #932edb);
  color: white;
}


.profile-img {
  transition: transform 0.3s ease, filter 0.3s ease, box-shadow 0.3s ease;
  box-shadow: 0 8px 20px rgba(147, 46, 219, 0.5);
  border-radius: 50%;
}

.profile-img:hover {
  transform: scale(1.1);
  filter: brightness(1.1) drop-shadow(0 0 10px #932edb);
  box-shadow: 0 12px 30px rgba(147, 46, 219, 0.7);
}
